<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/> <!-- Prevent the usage of global package sources -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
