# Note:
# Version corresponds to the chart version and should be updated every time the chart is changed.
# AppVersion on the other hand should be updated every time the web app is changed.
apiVersion: v2
appVersion: "4.0.0"
description: A KEDA external scaler for the Durable Task Azure Storage backend
home: https://github.com/wsugarman/durabletask-azurestorage-scaler
icon: https://raw.githubusercontent.com/wsugarman/durabletask-azurestorage-scaler/main/img/storm-icon.png
keywords:
  - dtfx
  - functions
  - keda
maintainers:
  - name: Will Sugarman
    email: will.sugarman@microsoft.com
name: durabletask-azurestorage-scaler
sources:
  - https://github.com/wsugarman/durabletask-azurestorage-scaler
type: application
version: "4.0.0"
annotations:
  artifacthub.io/category: monitoring-logging
  artifacthub.io/changes: |
    - kind: changed
      description: Updated base image to mcr.microsoft.com/dotnet/aspnet:10.0.2-azurelinux3.0-distroless
    - kind: removed
      description: Removed explicit Helm parameters for configuring log style. Logging may still be additionally configured via environment variables
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: durabletask-azurestorage-scaler
      image: ghcr.io/wsugarman/durabletask-azurestorage-scaler:4.0.0
      platforms:
        - linux/amd64
  artifacthub.io/license: MIT
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/kedacore/keda
  artifacthub.io/signKey: |
    fingerprint: 5921b98760ce1d3d6d118692d7b2b3999d8a68fe
    url: https://keybase.io/wsugarman/pgp_keys.asc
