apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ template "durabletask-azurestorage-scaler.fullname" . }}
    name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
    app.kubernetes.io/component: external-scaler
    app.kubernetes.io/name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
    {{- include "durabletask-azurestorage-scaler.labels" . | indent 4 }}
  {{- if .Values.additionalAnnotations }}
  annotations:
    {{- toYaml .Values.additionalAnnotations | nindent 4 }}
  {{- end }}
  name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  {{- with .Values.upgradeStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ template "durabletask-azurestorage-scaler.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ template "durabletask-azurestorage-scaler.fullname" . }}
        name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
        app.kubernetes.io/component: external-scaler
        app.kubernetes.io/name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
        {{- include "durabletask-azurestorage-scaler.labels" . | indent 8 }}
        {{- if .Values.podIdentity.activeDirectory.identity }}
        aadpodidbinding: {{ .Values.podIdentity.activeDirectory.identity }}
        {{- end }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
        {{- if .Values.podIdentity.azureWorkload.enabled }}
        azure.workload.identity/use: "true"
        {{- end }}
      {{- if or .Values.podAnnotations .Values.additionalAnnotations }}
      annotations:
        {{- if .Values.podAnnotations }}
        {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.additionalAnnotations }}
        {{- toYaml .Values.additionalAnnotations | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "durabletask-azurestorage-scaler.serviceAccountName" . }}
      automountServiceAccountToken: true
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.podSecurityContext }}
          securityContext:
            {{- toYaml | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          - name: grpc
            containerPort: {{ .Values.port }}
            protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints.operator }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
