apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ template "durabletask-azurestorage-scaler.fullname" . }}
    {{- include "durabletask-azurestorage-scaler.labels" . | indent 4 }}
  name: {{ template "durabletask-azurestorage-external-scaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: scaler
    port: {{ .Values.port }}
    targetPort: {{ .Values.port }}
  selector:
    app: {{ template "durabletask-azurestorage-scaler.fullname" . }}
