name: Scaler PR

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Read Versions
        id: chart
        uses: ./.github/actions/parse-chart
        with:
          workflowRunId: ${{ github.run_id }}

      - name: Run Unit Tests
        uses: ./.github/actions/dotnet-test
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          resultsDirectory: ${{ runner.temp }}/TestResults

      - name: Upload Code Coverage
        uses: ./.github/actions/code-coverage
        with:
          reportPath: ${{ runner.temp }}/TestResults/*/coverage.cobertura.xml

      - name: Build Docker Image
        uses: ./.github/actions/docker-build
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          imageRepository: durabletask-azurestorage-scaler
          imageTag: ${{ steps.chart.outputs.imageTag }}
          sign: 'true'
          azureTenantId: ${{ secrets.AZURE_TENANT_ID }}
          azureClientId: ${{ secrets.AZURE_CLIENT_ID }}
          azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azureCodeSigningAccountName: ${{ secrets.AZURE_CODESIGNING_NAME }}
          certificateProfileName: ${{ secrets.AZURE_CODESIGNING_PROFILE_NAME }}
          repositoryUri: ${{ github.server_url }}/${{ github.repository }}

      - name: Validate Helm Chart
        uses: ./.github/actions/helm-test
        with:
          buildConfiguration: Release
          imageTag: ${{ steps.chart.outputs.imageTag }}
          scalerImageRepository: durabletask-azurestorage-scaler

      - name: Pack Helm Chart
        uses: ./.github/actions/helm-package
        with:
          chartPath: ${{ github.workspace }}/charts/durabletask-azurestorage-scaler
          chartVersion: ${{ steps.chart.outputs.chartVersion }}
