name: Scaler

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Read Versions
        id: chart
        uses: ./.github/actions/parse-chart

      - name: Run Unit Tests
        uses: ./.github/actions/dotnet-test
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          resultsDirectory: ${{ runner.temp }}/TestResults

      - name: Upload Code Coverage
        uses: ./.github/actions/code-coverage
        with:
          reportPath: ${{ runner.temp }}/TestResults/*/coverage.cobertura.xml

      - name: Build Docker Image
        uses: ./.github/actions/docker-build
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          imageRepository: ghcr.io/${{ github.repository }}
          imageTag: ${{ steps.chart.outputs.imageTag }}
          sign: 'true'
          azureTenantId: ${{ secrets.AZURE_TENANT_ID }}
          azureClientId: ${{ secrets.AZURE_CLIENT_ID }}
          azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azureCodeSigningAccountName: ${{ secrets.AZURE_CODESIGNING_NAME }}
          certificateProfileName: ${{ secrets.AZURE_CODESIGNING_PROFILE_NAME }}
          repositoryUri: ${{ github.server_url }}/${{ github.repository }}

      - name: Validate Helm Chart
        uses: ./.github/actions/helm-test
        with:
          buildConfiguration: Release
          imageTag: ${{ steps.chart.outputs.imageTag }}
          scalerImageRepository: ghcr.io/${{ github.repository }}

      - name: Pack Helm Chart
        uses: ./.github/actions/helm-package
        with:
          chartPath: ${{ github.workspace }}/charts/durabletask-azurestorage-scaler
          chartVersion: ${{ steps.chart.outputs.chartVersion }}
          gpgPassword: ${{ secrets. GPG_PASSWORD }}
          gpgPrivateKey: ${{ secrets. GPG_PRIVATE_KEY_BASE64 }}
          sign: 'true'

  publishImage:
    name: Publish Image
    runs-on: ubuntu-latest
    needs: validate
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Image
        uses: actions/download-artifact@v3
        with:
          name: image
          path: ${{ runner.temp }}/image

      - name: Read Versions
        id: chart
        uses: ./.github/actions/parse-chart

      - name: Push Docker Image
        id: push
        uses: ./.github/actions/docker-push
        with:
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          imageArchive: ${{ runner.temp }}/image/durabletask-azurestorage-scaler-${{ steps.chart.outputs.imageTag }}.tar
          imageRepository: ghcr.io/${{ github.repository }}
          imageTag: ${{ steps.chart.outputs.imageTag }}
          pushLatest: ${{ steps.chart.outputs.imagePrerelease != 'true' }}

      - name: Create Image Release
        uses: ./.github/actions/github-release
        if: ${{ steps.push.outputs.success == 'true' }}
        with:
          asset: ${{ runner.temp }}/image/durabletask-azurestorage-scaler-${{ steps.chart.outputs.imageTag }}.tar
          name: 'Durable Task KEDA External Scaler Image'
          prerelease: ${{ steps.chart.outputs.imagePrerelease }}
          tag: 'Image_${{ steps.chart.outputs.imageTag }}.${{ steps.push.outputs.digest }}'
          version: '${{ steps.chart.outputs.imageTag }}.${{ steps.push.outputs.digest }}'

  publishChart:
    name: Publish Chart
    runs-on: ubuntu-latest
    needs: publishImage
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Chart
        uses: actions/download-artifact@v3
        with:
          name: chart
          path: ${{ runner.temp }}/chart

      - name: Read Versions
        id: chart
        uses: ./.github/actions/parse-chart

      - name: Sync Chart
        id: sync
        uses: ./.github/actions/chart-sync
        with:
          assetPath: ${{ runner.temp }}/chart
          chartRepositoryDirectoryName: 'releases'
          chartRepositoryToken: ${{ secrets.CHART_REPO_PAT }}
          chartVersion: ${{ steps.chart.outputs.chartVersion }}
          logoPath: ${{ github.workspace }}/img/storm-icon.png
          readmePath: ${{ github.workspace }}/charts/durabletask-azurestorage-scaler/README.md

      - name: Create Chart Release
        uses: ./.github/actions/github-release
        if: ${{ steps.sync.outputs.success == 'true' }}
        with:
          asset: ${{ runner.temp }}/chart
          name: 'Durable Task KEDA External Scaler Chart'
          prerelease: ${{ steps.chart.outputs.chartPrerelease }}
          tag: 'Chart_${{ steps.chart.outputs.chartVersion }}'
          version: ${{ steps.chart.outputs.chartVersion }}
