name: Scaler PR

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Read Versions
        id: chart
        uses: ./.github/actions/parse-chart
        with:
          workflowRunId: ${{ github.run_id }}

      - name: Run Unit Tests
        uses: ./.github/actions/dotnet-publish
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          coverageFileName: coverage.cobertura.xml
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          sign: 'false'
          testResultsDirectory: ${{ runner.temp }}/TestResults

      - name: Upload Code Coverage
        uses: ./.github/actions/code-coverage
        with:
          codecovToken: ${{ secrets.CODECOV_TOKEN }}
          reportPath: ${{ runner.temp }}/TestResults/coverage.cobertura.xml

      - name: Build Docker Image
        uses: ./.github/actions/docker-build
        with:
          assemblyVersion: ${{ steps.chart.outputs.assemblyVersion }}
          buildConfiguration: Release
          copyBinaries: 'false'
          fileVersion: ${{ steps.chart.outputs.assemblyFileVersion }}
          imageRepository: durabletask-azurestorage-scaler
          imageTag: ${{ steps.chart.outputs.imageTag }}

      - name: Validate Helm Chart
        uses: ./.github/actions/helm-test
        with:
          buildConfiguration: Release
          imageTag: ${{ steps.chart.outputs.imageTag }}
          scalerImageRepository: durabletask-azurestorage-scaler

      - name: Pack Helm Chart
        uses: ./.github/actions/helm-package
        with:
          chartPath: ${{ github.workspace }}/charts/durabletask-azurestorage-scaler
          chartVersion: ${{ steps.chart.outputs.chartVersion }}
